#col3 div{
  width: 180px;padding: 5px;box-sizing: border-box;float: right;margin-bottom: 15px;transition: 0.3s ease-in-out;
}
#col3 .blank{
  height: 200px;animation-name: c3blank;animation-duration: 2s;animation-timing-function: ease-out;
}
@keyframes c3blank{
  from{
    height: 330px;
  }
  to{
    
  }
}
.notification{
  height: 50px;background-color: rgba(0,0,0,0.3);border-radius: 15px;overflow: hidden;color: rgba(5,0,0,0.9);
}
#col3 .notification:hover{
  width: 196px;padding: 8px;height: 60px;background-color: rgba(0,0,0,0.5);color:white;
}
.notification img{
  height: 40px;width: 40px;border-radius: 13px;
}
.notification h2{
  font-size: 20px;position: relative;left: 45px;top: -45px;
}
.notification p{
  font-size: 15px;position: relative;left: 45px;top: -45px;white-space: nowrap;
}
#col3 .alert{
  height: 40px;background-color: rgba(0,0,0,0.7);overflow: hidden;border-radius: 5px;margin-right: 4px;
}
#col3 .alert:hover{
  height: 95px;width: 200px;background-color: black;border-radius: 0px;color: white;margin-right: 0;
}
.alert img{
  height: 30px;width: 30px;border-radius: 15px;
}
.alert h1{
  float: right;font-size: 30px;color: #ff0059;position: relative;top: -2px;
}
.alert p{
  font-size: 15px;text-transform: capitalize;
}
